<h1 class='text-center mb-4'>Chirps</h1>


  <% @chirps.each do |chirp| %>
    <div class='card my-2 p-4 shadow'>
      <div clas='card-body'>
        <h5 class='card-title'><%= chirp.content %></h5>
        <h6 class='card-text'>Location: <%= chirp.location %></h6>
        <small class='card-text text-secondary'><%= chirp.created_at.strftime("%B %e %Y") %></small>
          <%= link_to chirp.content, chirp %>
      </div>
    </div>
  <% end %>

